<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

  <Properties>
    <Property name="LOG_PATTERN">
      %d{yyyy-MM-dd HH:mm:ss} %highlight{%5p} [%t] %-40.40c{1.}:%L : %highlight{%m%n%ex}
    </Property>
  </Properties>

  <Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
      <PatternLayout disableAnsi="false" pattern="${LOG_PATTERN}"/>
    </Console>
  </Appenders>

  <Loggers>
    <Logger name="com.uqii.teabot" level="debug" additivity="false">
      <AppenderRef ref="ConsoleAppender"/>
    </Logger>

    <Root level="info">
      <AppenderRef ref="ConsoleAppender"/>
    </Root>
  </Loggers>
</Configuration>